*{
  outline:none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-user-drag: none;
}

body {
  text-align: center;
}

.hrline{
  width: 60%;
  margin-top: 30px;
  margin-bottom: 40px;
  border: 1px solid lightgrey;
}

.searchbar{
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
  border: 2px solid grey;
  background: white;
  width: 200px;
  padding-top: 3px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-left: 10px;
  font-size: 12pt;
}


button{
  cursor: pointer;
}

#homepage{
  background: rgb(34, 158, 3);
  position: absolute;
  width: 100%;
  margin-top: 60px;
  height: 200vh;
  opacity: 1;
  z-index: 10;
  transition: 0.5s;
}

#homepage.slidetoleft{
  transform: translateX(-100%);
  opacity: 0;
}


#secondpage{
  background:white;
  position: absolute;
  margin-top: 60px;
  width: 100%;
  height: 95.4vh;
  z-index: 0;
  opacity: 0;
  transform: translateX(100%) scaleX(0);
  transition: 0.5s;
}

#secondpage.slidetoright{
  transform: translateX(0%) scaleX(1);
  opacity: 1;
}

.leftsidepenl{
  margin-top: 3%;
  margin-left: 3%;
  float: left;
}

.leftsidepenl img{
  max-width: 100%;
}

.rightsidepanel{
  float: right;
  margin-left: 30px;
  width: 55%;
}

select{
  border:none;
  width: 100px;
  font-size: 12pt;
  font-weight: 600;
  margin-left: 20px;
  border-bottom: 2px solid black;
}

#navbar{
  top: 0;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 1000000;
  background: white;
  opacity: 0.7;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

#navbar-item{
  z-index: 1000001;
  position: fixed;
  color: black;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  display: flex;
}

#navbar-item div{
  display: flex;
}

#navbar-item h3{
  padding-left:20px;
}

#navbar-item h2{
  padding-right:20px;
  cursor: pointer;
}


#slidepanel{
  right:0;
  top: 0;
  position: fixed;
  width: 300px;
  height:100vh;
  background: white;
  z-index: 10000;
  opacity: 0;
  transform: translateX(300px) scale(0.5) rotateY(120deg);
  transition: .4s;
}

#slidepanel.active{
  opacity: 1;
  transform: translateX(0px) scale(1) rotateY(0deg);
}

.cart{
  height: 90vh;
  overflow: scroll;
}

.cart::-webkit-scrollbar{
  scroll-behavior: smooth;
}


.cartcontainer{
  height: 70px;
  width: 90%;
  margin-top: 15px;
  margin-left: 5%;
  border-bottom: 3px solid black;
  padding-bottom: 25px;
}

.cartcontainer div h6{
  margin:0px;
  padding-bottom: 10px;
}

.cartcontainer div h5{
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.cartcontainer div button{
  border-radius: 20px;
  border:none;
  background: rgb(250, 55, 55);
  padding: 3px 10px;
  font-size: 10pt;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  opacity: 0.6;
  transition: 0.5s;
}

.cartcontainer div button:hover{
  opacity: 1;
  transform: scale(1.04);
}



.cartcontainer img{
  float:left;
  height: 80px;
  width: 90px;
  margin-right: 10px;
}


#logoutbutton{
  bottom:0;
  left: 0;
  padding-bottom: 5px;
  font-size: 20pt;
  position: fixed;
  width: 100%;
  border:none;
  background-color: black;
  z-index: 10001;
  color: white;
  height: 70px;
  font-weight: 700;
  transition: .6s;
}

#logoutbutton:hover{
  background-color: white;
  opacity: 0.8;
  letter-spacing: 8px;
  color: black;
}

.productcard{
  cursor: pointer;
  float: left;
  width: 25%;
  height: auto;
  background: white;
  margin-top:0px;
  z-index: 0;
  transition: .5s;
}

.productcard:hover{
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
  z-index: 10000;
}

.productcard div img{
  float: left;
  width:  200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
}



.productcard p{
  text-align: left;
  font-size: 9pt;
  line-height: 18px;
}

.cardbuttons{
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 11pt;
  font-weight: bolder;
  background: rgba(163, 163, 163, 0.6);
  color: white;
  border: none;
  margin-top: 20px;
}

.addbutton{
  margin-top: 10px;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgb(19, 191, 10);
  transition: .5s;
}

.addbutton:hover{
  transform: scale(1.02);
  letter-spacing: 2px;
}

#loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 35vh;
  z-index: 100000;
  opacity: 0;
  animation: close .3s forwards;
}

@keyframes close {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  80%{
    transform: scale(.8);
    opacity:0;
  }
  100%{
    transform: scale(0);
    opacity:0;
  }
}

#loginContainer.active{
  animation: open .7s forwards;
}

@keyframes open {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  55%{
    transform: scale(1.05);
     opacity:1;
  }
  70%{
    transform: scale(0.99);
    opacity:.9;
  }
  90%{
    transform: scale(1.01);
    opacity:1;
  }
  100%{
    transform: scale(1);
    opacity:1;
  }
}

#loginContainer div{
  width: 420px;
  height: 310px;;
  background: white;
  box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}


.loginform input{
  width: 80%;
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 12pt;
  padding-bottom: 4px;
  font-weight: 700;
  letter-spacing: 2px;
}
.loginform button{
  width: 60%;
  margin:auto;
  border: none;
  font-size: 16pt;
  margin-top: 20px;
  border-radius: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: black;
  color: white;
  font-weight:700;
  letter-spacing: 2px;
  transition: 1s;
}

.loginform button:hover{
  transform: scale(1.03);
  letter-spacing: 6px;
}


.closebutton{
  margin-top: 80px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border:none;
  opacity: 0.7;
  font-weight: 700;
  font-size: 20pt;
  box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.closebutton:hover{
  opacity: 1;
  transform: scale(1.03);
}


@media (max-width: 1800px){
  .productcard{
    width: 33.333%;
    transition: .5s;
  }
}

@media (max-width: 1200px){
  .productcard{
    width: 50%;
    transition: .5s;
  }
}

@media (max-width: 900px){
  .productcard{
    width: 100%;
    transition: .5s;
  }
}
